.container {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    border: 12px solid rgb(208, 208, 208);
    background-color: rgb(20, 20, 20);
    height: 80%;
 

    &__topBrandTitle{
        padding: 1px;
        color: red;
        font-weight:bolder;
        font-size: larger;

    }
    &__topBrand {
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
