@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
 
 html,
 body {
   padding: 0;
   margin: 0;
  margin-bottom:0px ; 
   font-family: 'Gentium Book Plus', serif;
 }

 a {
   color: inherit;
   text-decoration: none;
   padding: 2px !important;
   text-align: justify;
   text-justify: inter-word;
   /* border-right: 2px solid grey;
   border-left: 2px solid grey; */
 }

 Link {
   cursor: pointer;
 }
